<div class="container">
    <div class="form-container">
        <div class="title">Create Account</div>
        <form>
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput
                       placeholder="Enter your email">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Username</mat-label>
                <input type="text" matInput
                       placeholder="Enter your username">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="email" matInput 
                       placeholder="Enter your password">
              </mat-form-field>
              <div class="button-container">
                <button mat-flat-button class="login-button">Create Account</button>
                <p>OR</p>
                <button mat-raised-button class="login-button">Login</button>
              </div>
        </form>
    </div>
</div>